:root {
    --nav-height: min(7vh, 9.5vw);
}
html {
    overflow: hidden;
}
body {
    font-family:Helvetica, sans-serif;
    font-weight: normal;
    background-image: linear-gradient(#eefce6, #c0ffc5);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    margin: 0;
}

/*Fade Animation*/
.fade-in, .fade-out {
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.fade-in {
    animation-name: fadeInOpacity;
    animation-duration: 2s;
}
@keyframes fadeInOpacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fade-out {
    animation-name: fadeOutOpacity;
    animation-duration: 0.5s;
}
@keyframes fadeOutOpacity {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

/*General Objects & Containers*/
#container {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}

#sidebar {
    position: absolute;
    height: 100%;
    width: min(20vw, 37vh);
    background-color: darkseagreen;
    z-index: -3;
}
#rope {
    position: absolute;
    bottom: 2%;
    height: 90vh;
    z-index: -2;
}
#scrollInstructionBox {
    position: absolute;
    background-color: rgba(200, 200, 200, 0.75);
    border-radius: 3vw;
    width: 20vw;
    aspect-ratio: 2 / 1;
    bottom: 2vw;
    left: 78vw;
    z-index: 200;
    opacity: 0;
}
#scrollIcon {
    position: absolute;
    height: 90%;
    top: 5%;
    left: 2.5%;
}
#scrollText {
    position: absolute;
    height: 90%;
    width: 60%;
    top: 5%;
    right: 5%;
    font-size: 2vw;
}

/*Navigaton Bar*/
.navbar {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 3.33%;
    height: var(--nav-height);
    aspect-ratio: 10 / 1;
    top: 1vh;
    left: calc(50vw - 5 * var(--nav-height));
    background-color: teal;
    border-radius: 30px;
    z-index: 10;
}
.navbarbutton {
    width: 22%;
    aspect-ratio: 2.75 / 1;
    font-size: calc(0.3 * var(--nav-height));
    border-radius: 30px;
    background-color: whitesmoke;
    border: 0;
    z-index: 11;
}
.navbarbutton.a {
    left: 5px;
}
.navbarbutton.a {
    left: 5px;
}

/*Portfolio sections general*/
.section {
    position: absolute;
    top: calc(var(--nav-height) + 2vh);
    height: calc(100% - (var(--nav-height) + 2vh));
    z-index: 3;
}
.sectionHeader {
    position: absolute;
    font-size: 5vh;
    height: 1.8em;
    width: 8em;
}
.sectionHeaderText {
    position: absolute;
    left: 8%;
    margin: 0;
}
.sectionHeaderGuard {
    position: absolute;
    border-radius: 10px;
    width: 2.5%;
    height: 100%;
    z-index: 3;
}
.textGuard.a, .textGuard.b {
    position: absolute;
    background-color: darkseagreen;
    border-radius: 10px;
    width: 1.5%;
    height: 100%;
    z-index: 3;
}
.textGuard.b {
    right: 0;
}
.basicText {
    position: absolute;
    margin: 0;
    left: 4%;
    top: 2%;
    height: 96%;
    width: 92%;
    z-index: 4;
}
.keyword {
    font-weight: bold;
    color: darkseagreen;
}
.contentBlocks {
    position: absolute;
    width: 90%;
    height: 64%;
    top: 15%;
}
.contentCard {
    position: absolute;
    width: 40%;
    height: 25%;
    border-radius: 3vmin;
}
.contentCard:target {
    position: absolute;
    animation-name: resizeContentBlock;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    z-index: 5;
}
@keyframes resizeContentBlock {
    0% {width: 40%; height: 25%}
    100% {width: 100%; height: 100%; top: 0}
}
.content {
    position: absolute;
    width: calc(100% - 3vh);
    height: calc(100% - 3vh);
    top: 1.5vh;
    left: 1.5vh;
    border-radius: 2vmin;
}
.contentImage {
    position: absolute;
    border-radius: 2vmin;
    object-fit: cover;
}
.contentText {
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    grid-area: text;
    padding: 2%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2vmin;
    gap: 3%;
}
.contentHeader {
    margin: 0;
    font-size: 6vmin;
}
.contentInfo {
    margin: 0;
    height: calc(97% - 5vmin);
    font-size: 2.5vmin;
}
.expandCard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    aspect-ratio: 1 / 1;
    clip-path: circle(50%);
    background-color: rgba(255, 255, 255, 0.5);
}
.expandCardSymbol {
    margin-left: 5%;
    height: 70%;
}
.closeCard {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vmin;
    aspect-ratio: 1 / 1;
    clip-path: circle(50%);
    background-color: rgba(255, 255, 255, 0.5);
    margin: 1%;
    top: 0;
    right: 0;
}
.closeCardSymbol {
    height: 60%;
}
.cardHeader {
    margin: 0;
    width: 70%;
    font-size: 4vmin;
    padding-left: 5%;
    color: black;
}

/*Intro Section*/
#intro {
    width: 75vw;
    z-index: -2;
}
#greeting {
    position: absolute;
    font-size: min(3vw, 5.5vh);
    left: min(1.5vw, 2.75vh);
    margin: 0;
}
#name {
    position: absolute;
    font-size: min(8vw, 16vh);
    left: min(1vw, 2vh);
    top: min(3vw, 6vh);
    margin: 0;
    z-index: 3;
}
#opening {
    position: absolute;
    top: 50%;
    left: min(22vw, 42vh);
    width: min(40vw, 92vh);
    height: min(15vw, 30vh);
}
#openingText {
    font-size: min(2vw, 4vh);
}

/*Design Section*/
#design {
    width: 100vw;
    left: 75vw;
}
#designHeaderGuard {
    background-color: darkseagreen;
}

/*Design Project 1*/
#designCard1 {
    background-color: yellowgreen;
}
#designCard1 #d1content {
    display: none;
}
#designCard1:target #d1content {
    display: grid;
    grid-template-areas:
    'd1img1 text text text'
    'd1img2 text text text'
    'd1img3 text text text';
    gap: 5%;
}
#designCard1 #d1wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
#designCard1:target #d1wrapper {
    display: none;
}

/*Design Project 2*/
#designCard2 {
    background-color: palevioletred;
    top: 30%;
}
#designCard2 #d2content {
    display: none;
}
#designCard2:target #d2content {
    display: grid;
    grid-template-areas:
    'd2img1 d2img1 text text text';
    gap: 5%;
}
#designCard2 #d2wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
#designCard2:target #d2wrapper {
    display: none;
}

/*Design Project 3*/
#designCard3 {
    background-color: teal;
    top: 60%;
}
#designCard3 #d3content {
    display: none;
}
#designCard3:target #d3content {
    display: grid;
    grid-template-areas:
    'd3img1 text text'
    'd3img2 text text';
    gap: 5%;
}
#designCard3 #d3wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
#designCard3:target #d3wrapper {
    display: none;
}

/*Objects*/
.contentImage.d1 {
    width: 100%;
    height: 100%;
}
#barsketch {
    grid-area: d1img1;
}
#barmodel {
    grid-area: d1img2;
}
#barresult {
    grid-area: d1img3;
}

.contentImage.d2 {
    width: 100%;
    height: 100%;
}
#fnsproject {
    grid-area: d2img1;
}

.contentImage.d3 {
    width: 100%;
    height: 100%;
}
#chair {
    grid-area: d3img1;
}
#shoe {
    grid-area: d3img2;
    object-position: bottom;
}

/*Coding Section*/
#coding {
    width: 100vw;
    left: 175vw;
}
#codingHeaderGuard {
    background-color: #a88edb;
}

/*Coding Project 1*/
#codingCard1 {
    background-color: mediumpurple;
}
#codingCard1 #c1content {
    display: none;
}
#codingCard1:target #c1content {
    display: grid;
    grid-template-areas:
    'c1img1 text text text';
    gap: 5%;
}
#codingCard1 #c1wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
#codingCard1:target #c1wrapper {
    display: none;
}

/*Coding Project 2*/
#codingCard2 {
    background-color: orange;
    top: 30%;
}
#codingCard2 #c2content {
    display: none;
}
#codingCard2:target #c2content {
    display: grid;
    grid-template-areas:
    'c2img1 text text'
    'c2img2 text text';
    gap: 5%;
}
#codingCard2 #c2wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
#codingCard2:target #c2wrapper {
    display: none;
}

/*Coding Project 3*/
#codingCard3 {
    background-color: deepskyblue;
    top: 60%;
}
#codingCard3 #c3content {
    display: none;
}
#codingCard3:target #c3content {
    display: grid;
    grid-template-areas:
    'c3img1 c3img1 text text text';
    gap: 5%;
}
#codingCard3 #c3wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
#codingCard3:target #c3wrapper {
    display: none;
}

/*Objects*/
.contentImage.c1 {
    grid-area: c1img1;
    height: 100%;
    max-width: 100%;
}
.contentImage.c2 {
    width: 100%;
    height: 100%;
}
.contentImage.c3 {
    grid-area: c3img1;
    object-position: left;
    height: 100%;
    max-width: 100%;
}
#pythonCode {
    grid-area: c2img1;
}
#pythonTest {
    grid-area: c2img2;
}

/*Coding proficiency*/
#codingProficiency {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 45%;
    left: 44%;
    top: 15%;
    z-index: 1;
}
.proficiencyBlock {
    position: absolute;
    display: inline-flex;
    align-items: center;
    height: 15%;
    width: 100%;
}
.codeLogo {
    width: 10%;
    z-index: 6;
}
.proficiencyBar {
    height: 40%;
    z-index: 5;
}
.proficiencyFadeIn {
    left: 13.5%;
    width: 4%;
    border-radius: 5px 0 0 5px;
}
.proficiencyBarRect {
    left: 17.5%;
}
.proficiencyPython {
    top: 14%;
}
.proficiencyKotlin {
    top: 36%;
}
.proficiencyCs {
    top: 58%;
}
.proficiencyHTML {
    top: 80%;
}

#proficiencyFadeInPython {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), #306998);
}
#proficiencyBarPython {
    background-color: #306998;
    width: 68%;
}
#proficiencyFadeOutPython {
    background-image: linear-gradient(90deg, #306998, rgba(0, 0, 0, 0));
    left: 77.5%;
    width: 12%;
}
#proficiencyFadeInKotlin {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), #B125EA);
}
#proficiencyBarKotlin {
    background-color: #B125EA;
    width: 33%;
}
#proficiencyFadeOutKotlin {
    background-image: linear-gradient(90deg, #B125EA, rgba(0, 0, 0, 0));
    left: 50.5%;
    width: 12%;
}
#proficiencyFadeInCs {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), #48205D);
}
#proficiencyBarCs {
    background-color: #48205D;
    width: 25%;
}
#proficiencyFadeOutCs {
    background-image: linear-gradient(90deg, #48205D, rgba(0, 0, 0, 0));
    left: 42.5%;
    width: 8%;
}
#proficiencyFadeInHTML {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), #FF8C00);
}
#proficiencyBarHTML {
    background-color: #FF8C00;
    width: 25%;
}
#proficiencyFadeOutHTML {
    background-image: linear-gradient(90deg, #FF8C00, rgba(0, 0, 0, 0));
    left: 42.5%;
    width: 8%;
}

.markers {
    position: absolute;
    display: inline-flex;
    gap: 8%;
    height: 100%;
    width: 85%;
    left: 15%;
}
.skillMarker {
    height: 100%;
    width: 19%;
}
.skillLine {
    position: absolute;
    bottom: 0;
    width: 1%;
    height: 92.5%;
    background-color: deepskyblue;
    border-radius: 1vmin;
}
.flag {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 19%;
    background-color: deepskyblue;
    font-weight: bold;
    font-size: min(0.9vw, 1.5vh);
    color: white;
    border-radius: 3vmin 1.5vmin 1.5vmin 0;
}

/*Contact Section*/
#contact {
    left: 275vw;
    width: 50vw
}
#contactHeaderGuard {
    background-color: #3d8ebb;
}

#contactPages {
    position: absolute;
    width: calc(100% - 5vh);
    height: calc(85% - 8vh);
    top: 15%;
}
.contactLogo {
    position: absolute;
    height: 15vh;
    aspect-ratio: 1 / 1;
    border-radius: 20%;
}
#LinkedIn {
    background-image: url("imgs/contact/linkedin_icon.webp");
    background-size: 100% auto;
}
#Github {
    background-image: url("imgs/contact/github_icon.webp");
    background-size: 100% auto;
    left: 20vh;
}
#Gmail {
    background-color: white;
    background-image: url("imgs/contact/gmail_icon.webp");
    background-size: 100% auto;
    left: 40vh;
}
